@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@400;500&display=swap");

@import "normalize.css";

.container {
  font-family: sans-serif;
  text-align: center;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}

.infoAboutUs h2 {
  float: left;
}

.background {
  opacity: 0.9;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.bg {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snacks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popcorn {
  margin-left: 5%;
  border-radius: 20%;
  margin-right: 5%;
}

.about {
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  hyphens: calc(25);
}

.infoAboutUs {
  display: inline-table;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.infoAboutUs td {
  text-align: initial;
  width: 50%;
  padding: 3px;
  margin: auto;
  font-size: 1.1rem;
}

.biograf {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.biograf h2 {
  text-align: center;
  font-size: 1.5rem;
}

.biograf h3 {
  font-size: 1.3rem;
}

.biograf p {
  font-size: 1rem;
}

.biograf-info {
  font-size: 1rem;
}

.salong-info {
  display: flex;
  flex-direction: column;
}

.salong-info h2 {
  width: 100%;
}

.maximus-title {
  text-align: left;
  margin-left: 7%;
  font-size: 1.3rem;
}

.maximus-info {
  margin-right: 50px;
  font-size: 1.1rem;
}

.dominus-title {
  text-align: left;
  margin-left: 7%;
  font-size: 1.3rem;
}

.dominus-info {
  margin-right: 50px;
  font-size: 1.1rem;
}

.salong-img {
  float: left;
  width: 400px;
  border-radius: 10%;
  margin-bottom: 1%;
  margin-right: 3%;
  border: rgba(0, 0, 0, 0.5) solid 10px;
}

.faq {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.faq h2 {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.question {
  font-size: 1.1rem;
}
.answer {
  opacity: 0.8;
  color: lightgray;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .popcorn {
    display: none;
  }
  .salong-img {
    display: none;
  }
  .salong-info h2 {
    width: 95%;
  }
  .biograf h2 {
    margin-right: 50px;
  }
  .biograf h3 {
    margin-right: 50px;
  }
  .biograf p {
    margin-right: 50px;
  }
  .biograf-info {
    margin-right: 0 !important;
  }
  .dominus-info {
    margin-right: 50px;
  }
  .maximus-info {
    margin-right: 50px;
  }
  .about {
    margin-right: 70px;
  }
  .aboutus {
    margin-right: 50px;
  }
  .faq {
    margin-right: 50px;
  }
  .question {
    margin-right: 50px;
  }
  .answer {
    margin-right: 50px;
  }
  .container {
    margin-right: 50px;
  }
  .faq h2 {
    margin-right: 50px;
    width: 95%;
  }
}
@media screen and (min-width: 810px), (max-width: 1100px) {
  .biograf-info {
    margin-right: 50px;
  }
  .about {
    margin-right: 70px;
  }
  .container {
    margin-right: 50px;
  }
  .faq {
    margin-right: 50px;
  }
  .faq h2 {
    margin-right: 50px;
  }
}
