@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@400;500&display=swap');


@import 'normalize.css';

.faq {
  margin-top: 15px;
  margin-left: 300px;
  text-align: left;
}

.snacks3 {
  margin-left: 400px;
}

.snacks {
  margin-left: 95px;

}

.snacks2 {
  padding: 35px;
}

.butik {
  margin: 0;
  border: solid;
  display: inline;
  padding-right: 200px;
  font-size: 16px;
  width: 100%;
}

.salong {
  margin: auto;
  width: 50%;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.text {
  margin: auto;
  width: 50%;
  padding: 10px;
  overflow: hidden;
}

.table2 {
  margin-top: 200px;
  font-family: sans-serif;
  text-align: center;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}

h2.aboutus {
  margin: 20px;
}

.popcorn1 {
  background-image: url('/public/images/popcorn1.png');
  opacity: 0.4;
  transition: 5s;
  background-color: rgba(255, 255, 255, 0.5);
}

.aboutus_container {
  margin-top: 100px;
  display: flex;

}