.seatBooking {
  display: block;
  object-position: center;
  justify-content: center;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 450px;
  color: white;
}

#selectbutton {
  cursor: pointer;
}