.bokning {
  color: white;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  align-items: center;
  justify-content: center;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 20px;
}

input {
  width: 50%;
}

input[type="number"] {
  width: 30%;
  text-align: center;
  display: inline-block;
}

button[type="submit"] {
  float: right;
  margin-top: 20px;
}

button[type="button"]:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200, 0.5);
  transition: all 0.5s ease;
  color: white;
}

.error {
  color: rgb(121, 15, 15);
}

.bokning-klar {
  color: white;
  margin-left: 50px;
  margin-top: 100px;
}

.booking-done:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.5);
  transition: all 0.5s ease;
  color: white;
}
