.bookingPage p {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}

.chosenMovie{
  position: absolute;
  width: 150px;
  height: 300px;
  left: 892px;
  top: 117px;
  border: 1px solid white;
}

.seatingGrid{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.backButton{
  position: relative;
  align-items: center;
  padding: 0px;
  width: 154px;
  height: 35px;
  left: calc(50% - 154px/2 - 544px);
  top: 75px;
  background-color: transparent;
  color: white;
}¨

.chosenMovie img {
  display: block;
  float: right;
  margin-top: 50px;
  max-width: 25%;
  width: 40%;
  margin-left: 20px;
  margin-right: 40px;
}
