.featuredMovieCTA-container {
  position: absolute;
  z-index: 3;
  width: 100%; 
  margin-top: -60px;
  text-align: center;
  cursor: pointer;
}

main {
  position: relative;
}

.featuredMovieCTA-image h1 {
  color: white;
  font-size: 3vw;
  position: relative;
  font-weight: 200;
}

.featuredMovieCTA-image button {
  font-size: 1vw;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #989aad;
  border-radius: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  background: transparent;
  color: #989aad;
}

.featuredMovieCTA-image img {
  border-radius: 15px;
  max-width: 100%;
}

.featuredMovieCTA-image {
  width: 100%;
}

.featuredMovie img {
  max-width: 100%;
}

.feature-movie-span,
.feature-movie-span-rating,
.feature-movie-span-showing {
  color: white;
  font-size: 2vw;
}

.feature-movie-span::after {
  content: "|";
  margin-left: 7px;
  color: lightgray;
}

.feature-movie-span-showing::before {
  content: "|";
  margin-left: 7px;
  padding-right: 7px;
}

.feature-movie-span-rating {
  color: lightgray;
  border: lightgray solid 1px;
  margin-left: 7px;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  opacity: 0.7;
}

.gradientFeaturedMovie {
  position: absolute;
  transform: translate(-0%, -100%);
  z-index: 1;
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, rgba(11, 12, 23, 0) 0%, #0b0c17 100%);
}

.wrapper-featuredMovie {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

.featuredMovieOverlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 854px;
  top: 0;
  background: linear-gradient(180deg, rgba(11, 12, 23, 0) 0%, #0b0c17 100%);
}

.wrapper-featuredMovieInfo {
  position: absolute;
  z-index: 3;
  margin-left: 5px;
  top: 475px;
  font-family: "Raleway";
  font-size: 14px;
  color: #ffffff;
}

.wrapper-featuredMovieInfo button {
  margin-left: 40px;
}

.featuredMovieCTA-image h1:hover {
  text-decoration-line: underline;
  text-decoration-color: white;
  text-decoration-style: solid;
  text-decoration-thickness: 1.75px;
}

@media screen and (max-width: 464px) {
  .featuredMovie img {
    width: 100%;
  }
  .featuredMovieCTA-image h1 {
    color: white;
    font-size: 100%;
    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .featuredMovie img {
    width: 100%;
  }
  .featuredMovieCTA-image h1 {
    color: white;
    font-size: 100%;
    position: relative;
  }
}
