.featuredMovieCTA-container {
  position: absolute;
  margin-top: -50%;
  margin-left: 4%;
  z-index: 3;
}

.featuredMovieCTA-image h1 {
  color: white;
  font-size: 2vw;
  position: relative;
}

.featuredMovieCTA-image button {
  font-size: 1vw;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #989AAD;
  border-radius: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  background: transparent;
  color: #989AAD;
}

.featuredMovieCTA-image img {
  border-radius: 15px;
  max-width: 30%;
}

.featuredMovie img {
  max-width: 100%;
}

.feature-movie-span, .feature-movie-span-rating {
  color: white;
  font-size: 0.85vw;
}

.feature-movie-span-rating {
  color: lightgray;
  border: lightgray solid 1px;
  margin-left: 5px;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  opacity: 0.7;
}

.gradientFeaturedMovie {
  position: absolute;
  transform: translate(-0%, -100%);
  z-index: 1;
  width: 100%;
  height: 1500px;
  background: linear-gradient(180deg, rgba(11, 12, 23, 0) 0%, #0B0C17 100%);

}

.wrapper-featuredMovie {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

.featuredMovieOverlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 854px;
  top: 0;
  background: linear-gradient(180deg, rgba(11, 12, 23, 0) 0%, #0B0C17 100%);
}

.wrapper-featuredMovieInfo {
  position: absolute;
  z-index: 3;
  margin-left: 5px;
  top: 475px;
  font-family: 'Raleway';
  font-size: 14px;
  color: #FFFFFF;
}

.wrapper-featuredMovieInfo button {
  margin-left: 40px;
}

@media screen and (max-width: 820px) {
  .featuredMovie img {
    width: 100%;
  }
  .featuredMovieCTA-image h1 {
    color: white;
    font-size: 100%;
    position: relative;
  }
}