/* HEADER STYLING */
/*För frosted glass effekt på headern*/

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header {
    z-index: 100;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

@media screen and (max-width: 800px) {
  header {
    display: none;
  }
  
}

.header-logo {
  display: inline-flex;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  padding-right: 0px;
}

header a {
  display: inline-flex;
  font-size: 18px;
  font-weight: 450;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(209, 209, 232);
}

header a:first-of-type {
  padding-left: 0;
}

header .active {
  color: white;
}

header a:hover {
  color: #e7a6a6;
  transition: 0.3s ease-in-out;
}
