@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  box-sizing: border-box;
}

section {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

header {
  padding: 0px 40px 0px 40px;
}

.main {
  background: #0b0c17;
}

.trailer-container {
  width: 50%;
  top: 200px;
  left: 25%;
  position: absolute;
  z-index: 10;
}

.detail-trailer {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.detail-trailer iframe {
  margin: auto;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9 !important;
  border: black solid 3px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transform: translateY(-250px);
}

.trailer-button {
  background-color: transparent;
  color: red;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.7;
  border: transparent;
}

.trailer-button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.close-button {
  background-color: transparent;
  color: red;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
  border: transparent;
}

.close-button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.movie-background {
  padding-bottom: 28rem;
}

@media (max-width: 415px) and (max-height: 897px) {
  .movie-poster-image {
    max-width: 100%;
  }
  .movieDescription {
    width: 100%;
    padding-right: 10%;
    text-align: left;
    text-overflow: ellipsis;
  }
  .movieDescription text {
    margin-right: 10%;
  }
  .qwerty {
    padding-right: 10%;
  }
}

.poster-and-title {
  grid-template-columns: 245px 1fr 150px;
  grid-template-rows: repeat(3, auto) 1fr;
  max-width: 1230px;
  display: grid;
  padding: 0px 10px 0px;
  grid-column-gap: 30px;
  margin: auto;
  box-sizing: border-box;
}

.movie-poster-image {
  max-width: 90%;
  border-radius: 4px;
  display: inline-block;
}

.asd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  max-width: 1230px;
  padding-left: 285px;
}

.movie-glr-wrap {
  color: white;
}

.movie-title {
  font-size: 35px;
  font-family: "Poppins";
  color: white;
  text-align: left;
  display: inline;
  vertical-align: middle;
  margin-bottom: 0px;
}

.movie-genre,
.movie-length {
  padding-bottom: 15px;
}

ul {
  margin-top: 15px;
}

.genreTag {
  border: 1px solid;
  background-color: transparent;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 5px;
  margin-bottom: 8px;
  margin-right: 8px;
  list-style: none;
  font-size: 1rem;
}

.movie-poster-wrapper {
  position: relative;
  display: inline-block;
  top: -130px;
  margin-left: 10%;
}

.movieDescription {
  display: grid;
  color: white;
  margin-top: 3px;
}

.descriptionP {
  font-family: "NunitoSans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: left;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.qwerty {
  display: grid;
  color: white;
}

.descriptorTitle {
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
  font-weight: lighter;
  font-family: "NunitoSans", sans-serif;
  text-transform: uppercase;
  opacity: 0.79;
  margin-bottom: 2px;
}

.descriptorP {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  text-align: left;
  font-family: "NunitoSans", sans-serif;
  margin-bottom: 10px;
}
