@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  box-sizing: border-box;
}

header {
  padding: 0px 40px 0px 40px;
}

.main {
  background: #0b0c17;
}

.trailer-container {
  width: 50%;
  top: 200px;
  left: 25%;
  position: absolute;
  z-index: 1;
}

.detail-trailer {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.detail-trailer iframe {
  margin: auto;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9 !important;
  border: black solid 3px;
}

.button-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  transform: translateY(-250px);
  z-index: 3;
}

.trailer-button {
  background-color: transparent;
  color: red;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.7;
  border: transparent;
}

.trailer-button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.close-button {
  background-color: transparent;
  color: red;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
  border: transparent;
}

.close-button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.movie-background {
  padding-bottom: 43.75rem;
}

.gradient {
  background: linear-gradient(
    -180deg,
    transparent 50%,
    rgba(0, 0, 0, 0.68) 85%,
    #0b0c17
  );
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-attachment: scroll;
  background-image: linear-gradient(
    -180deg,
    transparent 50%,
    rgba(0, 0, 0, 0.68) 85%,
    #0b0c17
  );
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .movie-poster-image {
    max-width: 100%;
  }
  .movieDescription {
    width: 100%;
    padding-right: 10%;
    text-align: left;
    text-overflow: ellipsis;
  }
  .movieDescription text {
    margin-right: 10%;
  }
  .qwerty {
    padding-right: 20%;
  }
  .movie-title {
    padding-right: 20%;
    margin-right: 10%;
  }
  .title-wrapper {
    padding-right: 20%;
    margin-right: 10%;
  }
  .button-container {
    transform: translateY(-400px);
  }
}

@media screen and (max-width: 1920px) {
  .button-container {
    transform: translateY(-400px);
  }
}

.poster-and-title {
  grid-template-columns: 245px 1fr 150px;
  grid-template-rows: repeat(3, auto) 1fr;
  max-width: 1230px;
  display: grid;
  padding: 0px 10px 0px;
  grid-column-gap: 30px;
  margin: auto;
  box-sizing: border-box;
}

.movie-poster-image {
  max-width: 90%;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.asd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  max-width: 1230px;
  padding-left: 285px;
}

.movie-glr-wrap {
  color: white;
}

.movie-title {
  font-size: 35px;
  font-family: "Poppins";
  color: white;
  text-align: left;
  display: inline;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 0;
  padding-right: 5%;
}

.movie-genre,
.movie-length {
  padding-bottom: 15px;
}

ul {
  margin-top: 15px;
}

.genreTag {
  border: 1px solid;
  background-color: transparent;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 5px;
  margin-bottom: 8px;
  margin-right: 8px;
  list-style: none;
  font-size: 1rem;
}

.movie-poster-wrapper {
  position: relative;
  display: inline-block;
  top: -170px;
  margin-left: 10%;
}

.movieDescription {
  display: grid;
  color: white;
  margin-top: 3px;
}

.descriptionP {
  font-family: "NunitoSans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  width: 100%;
}

.qwerty {
  display: grid;
  color: white;
}

.descriptorTitle {
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
  font-weight: lighter;
  font-family: "NunitoSans", sans-serif;
  text-transform: uppercase;
  opacity: 0.79;
  margin-bottom: 2px;
}

.descriptorP {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  text-align: left;
  font-family: "NunitoSans", sans-serif;
  margin-bottom: 10px;
}

.valj-dag {
  color: white;
}

@media screen and (max-width: 400px) {
  .movie-background {
    padding-bottom: 25.75rem;
  }
  .gradient {
    height: 412px;
  }
  .movie-poster-image {
    visibility: hidden;
  }
  .movie-glr-wrap {
    visibility: hidden;
  }
  .movieDescription {
    display: block;
    position: absolute;
    margin-left: 10px;
  }
  .asd {
    padding-left: 25%;
    margin-top: 0;
  }
  .qwerty {
    margin-left: 10px;
    margin-top: 200px;
  }
  .dagvaljare {
    margin-top: 375px;
  }
  .button-container {
    transform: translateY(-200px);
  }
}
