.descriptorTitle {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  margin: 20px 30px;
  color: rgba(152, 154, 173, 1);
}

.dagvaljare {
  margin-left: 40px;
}

.movie {
  display: block;
  padding: 10px 30px 0 0;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  width: 50%;
  float: left;
}

.movie h3 {
  text-align: center;
}

.movieDescription {
  width: 600px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(255, 255, 255, 1);
}

.movieDetail img {
  display: block;
  float: right;
  margin-top: 50px;
  max-width: 25%;
  width: 40%;
  margin-left: 20px;
  margin-right: 40px;
}

.movieLength {
  margin-left: 0;
}

.movie {
  z-index: 2;
  transform: scale(1);
  display: inline-block;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  margin-left: 0.8rem;
  color: black;
  width: 13%;
  justify-content: space-between;
  grid-column: auto;
  border-radius: 8px;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(0.95, 0.95);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 5;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: inherit;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.movie img {
  border-radius: 10px;
  width: 100%;
  height: 100%;

}

.movie h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 26px;
  color: #FFFFFF;
}

.movie h4 {
  font-size: 0.85vw;
  font-weight: 100;
  color: white;
  display: block;
  gap: 5px 15px;
  align-items: right;
  text-align: center;
  width: fit-content;
}