.descriptorTitle {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  margin: 20px 30px;
  color: rgba(152, 154, 173, 1);
}

.movieDescription p {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}

.movieDetail p {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}

.dagvaljare {
  margin-left: 40px;
}

.valj-dag {
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  line-height: 10px;
  padding-top: 10px;
  margin-left: 20;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.movieDescription {
  width: 600px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(255, 255, 255, 1);
}


.movie-poster {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  max-width: 25%;
  width: 40%;
  margin-left: 20px;
  margin-right: 40px;
}

.movie-background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -10;
  float: left;
  position: absolute;
  
}

.movieDetail h2 {
  margin-top: 110px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: white;
}


.gradient {
background-image: linear-gradient(0deg, rgba(14, 15, 15, 0) 82%, rgba(14, 15, 15, .5) 99%), linear-gradient(-180deg, transparent 60%, #0b0c17);

display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


