/* change to your own choice of fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@400;500&display=swap');


@import 'normalize.css';
@import 'footer.css';


*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #0b0c17;
}

*::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 10px;
}


.headerAboutUs {
  position: sticky;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway';
  font-size: 14px;
  background-color: rgba(11, 12, 23, 1);
  height: 1900px;
}

main {
  max-width: 750;
  margin: 2rem auto;
}



/*.topplistan {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  padding-top: 50px;
  margin-left: 45px;
  margin-left: 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
} */

.movieLength {
  margin-left: 0;
}

p {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}


.timelink {
  display: block;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
  padding: 20px 35px;
}

.descriptorTitle {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  margin: 20px 30px;
  color: rgba(152, 154, 173, 1);
}

.dagvaljare {
  margin-left: 40px;
}

.movie {
  display: block;
  padding: 10px 30px 0 0;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  width: 50%;
  float: left;
}

.movie h3 {
  text-align: center;
}

.wrapper-featuredMovie {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

.featuredMovieOverlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 854px;
  top: 0;
  background: linear-gradient(180deg, rgba(11, 12, 23, 0) 0%, #0B0C17 100%);
}

.wrapper-featuredMovieInfo {
  position: absolute;
  z-index: 3;
  margin-left: 5px;
  top: 475px;
  font-family: 'Raleway';
  font-size: 14px;
  color: #FFFFFF;
}

.wrapper-featuredMovieInfo button {
  margin-left: 40px;
}

.movieDescription {
  width: 600px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(255, 255, 255, 1);
}

.movieDetail img {
  display: block;
  float: right;
  margin-top: 50px;
  max-width: 25%;
  width: 40%;
  margin-left: 20px;
  margin-right: 40px;
}

.Tickets-h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 28px;
  line-height: 36px;
  padding-top: 30px;
  padding-left: 20px;
  margin-left: 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.Tickets-pic {
  padding-left: 30px;
}

.Tickets-text {
  padding-left: 50px;
}

.Tickets-h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  line-height: 10px;
  padding-top: 10px;
  margin-left: 20;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.valj-dag {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  line-height: 10px;
  padding-top: 10px;
  margin-left: 20;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.Tickets-h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  padding-top: 20px;
  margin-left: 20;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.wrapper {
  text-align: center;
  display: inline-block;
}
#button2 {
  margin-left: 200px;
}
.menu-item-button{
 margin-left: 70px;
}

.dropdown-menu {
  top: 100px;
  right: 20px;
  background-color: rgba(11, 12, 23, 1);
  border-radius: var(--border-radius);
  padding: 20px 30px;
  width: 300px;
}

.Tickets-pic {
  width: 50%;
}


/*
 - BODY SECTION -
                  */
/*.movie-container {
  display: flex;
  padding-left: 20px;
  width: 100%;
  margin-top: 100px;
} */

.featuredMovieCTA-container {
  position: absolute;
  margin-top: -50%;
  margin-left: 4%;
  z-index: 3;
}

.featuredMovieCTA-image h1{
  color: white;
  font-size: 2vw;
  position: relative;
}

.featuredMovieCTA-image button{
  font-size: 1vw;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #989AAD;
  border-radius: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  background: transparent;
  color: #989AAD;
}

.featuredMovieCTA-image img{
  border-radius: 15px;
  max-width: 30%;
}

.featuredMovie img{
  max-width: 100%;
}

.gradientFeaturedMovie {
  position: absolute;
  transform: translate(-0%, -100%);
  z-index: 1;
  width: 100%;
  height: 1500px;
  background: linear-gradient(180deg, rgba(11, 12, 23, 0) 0%, #0B0C17 100%);

}

.showingNow {
  margin: auto;
}

.comingSoon {
  margin-top: 450px; 
}

.body-movies h1 {
  margin-top: 75px;
  z-index: 1;
  color: white;
  font-size: 1.8vw;
  margin-left: 1.5rem;
  margin-bottom: 20px;
}

.movie {
  z-index: 2;
  transform:scale(1);
  display: inline-block;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  margin-left: 0.8rem;
  color: black;
  width: 13%;
  justify-content: space-between;
  grid-column: auto;
  border-radius: 8px;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(0.95, 0.95);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 5;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: inherit;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.movie img {
  border-radius: 10px;
  width: 100%;
  height: 100%;

}

.movie h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 26px;
  color: #FFFFFF;
}

.movie h4 {
  font-size: 0.85vw;
  font-weight: 100;
  color: white;
  display: block;
  gap: 5px 15px;
  align-items: right;
  text-align: center;
  width: fit-content;
}

/* TICKETS PAGE */

.movieList h3 {
  margin-top: 90px;
  margin-left: 45px;
  overflow: hidden;
}


.movieList p{
  color:white;
}
.movieList {
  display: block;
  max-width: 20%;
}


.movieImages img{
  max-width: 50%;
  margin-left: 40px;
}
