/* change to your own choice of fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import 'normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  font-size: 20px;
}

header {
  background-color: darkred;
  color: lightgray;
  padding: 20px 30px;
}

header h1 {
  font-size: 30px;
  margin: 0;
}